{{#extends 'base'}}

{{#block 'content'}}
<div>
    <h2>Create a Poster</h2>
    <form method="POST">
        {{{form}}}
        <input type="submit" value="Add Poster" class="btn btn-primary" />
        <a href="/posters/all-posters" class="btn btn-danger">Cancel</a>
    </form>
</div>


{{/block}}

{{/extends}}