{{#extends 'base'}}

{{#block 'content'}}
<div>
    <h2>Delete Poster: {{poster.title}}</h2>
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
        <div class="alert alert-danger">
            <p>Are you sure you want to delete {{poster.title}}</p>
        </div> 
        <input type="submit" class="btn btn-danger btn-sm" value="Yes"/>
        <a href="/posters/all-posters" class="btn btn-success btn-sm">No</a>
    </form>
</div>


{{/block}}

{{/extends}}
