{{#extends 'base'}}

{{#block 'content'}}
<div>
    <h2>Delete Poster: {{poster.title}}</h2>
    <form method="POST">
        {{{form}}}
        <input type="submit" value="Delete Poster" class="btn btn-danger" />
        <a href="/posters/all-posters" class="btn outline btn-danger">Cancel</a>
    </form>
</div>


{{/block}}

{{/extends}}
