{{#extends 'base'}}

{{#block 'content'}}
<h2>Login</h2>
<p>Please login with your account below!</p>

<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    {{{form}}}
<input type="submit" value="Log in" class="btn btn-success btn-sm mt-3"/>

</form>
{{/block}}

{{/extends}}